<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список матеріалів</title>
</head>
<body>
    <h1>Список матеріалів</h1>
    <ul>
        {% for material in materials %}
            <li>
                {{ material.name }}
                (<a href="{{ material.id }}/edit/">Редагувати</a> |
                <a href="{{ material.id }}/delete/">Видалити</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="new/">Додати новий матеріал</a>
</body>
</html>
