<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>WordBoard</title>
</head>
<body>
    <div class="header">
        <header>
            <img src="{% static 'images/logo.png' %}" alt="Логотип компанії" class="logo">
        </header>
    </div>
    {% block content %}

    {% endblock %}
    <footer>
        <p>&copy; 2024 Компанія. Усі права захищені.</p>
    </footer>
</body>
</html>